<br />       

|<img src='./images/school_logo.png' alt="Drawing" style="width:100px;float: left"/><img width=300;/>|<p style="padding-top:8px;padding-bottom:0px;">Shouke Wei, Ph.D.</p><img width=400;/>| 27| 
| :--- | :--- | :---:|

<h1 style='text-align: center;'>Lesson 10: Creating Tables in Jupyter Notebook</h1>

<br />

## Objectives
- create tables in Jupyter notebook
    - use Markdown
    - use HTML
    - use %html magic
    - use IPython html function

## 10.1 Markdown Table
### 10.1.1 Normal Table
- Create table using **Vertical Pipe**(`|`) on the keyboard <br>     
<img src='./images/vertical_pipe.png' alt="Drawing" style="width:400px;float: left"/>

- The first row is always the header followed by an extra line with ***dashes "-"*** 
- Text alignment in the table is made by adding 
    - ***colons ":"*** at the beginning or/and the end of ***dashes "-"*** line
- The rule is as follows:
    - Left-alignment: replace the leftmost dash with a colon, i.e. ":---------"    
    - Right-alignment: replace the rightmost dash with a colon, i.e. "--------:"    
    - Center-alignment: replace both the leftmost and rightmost dashes with a colon, i.e. ":---------:"

|Laptop                        |Origin  |Price       |
|:-----------------------------|:------:|----------: |
|Lenovo IdeaPad 3 15.6"        |China   |\$649.99    |
|Apple MacBook Pro (2020)13.3" |USA     |\$1,249.59  |
|HP Touch-Screen Chromebook 14"|USA     |\$339.99    |

In the Markdown syntax, anything between ***dollar "$"*** signs is interpreted as a MathJax expression. 

If we use ***dollar "$"*** signs  as a money unit sign, we have to escape them like so: `\$`.

### 10.1.2 Multiline Table

To create a Markdown table with a multiline cell, use the HTML `<br>` or `</br>` tag to divide the line into multiple lines.

| Programming Languages|Description                    |
| :--------------------|:------------------------------|
| Python               | Python is an interpreted, multi-purpose programming language. </br>It is often used to   build web applications and seeing exploding growth due  <br> to its use in data science, machine learning, and dev ops. |
|Javascript            | Javascript is an indispensable language to know for writing web applications,<br> as it works in the browser and on the server-side. |
| Java                 | Originally developed by Oracle, Java is extremely popular because it can be <br> used for mobile, web, and desktop app development, and more. Reasonably <br> stable and fast, it is very popular at the enterprise level.|

### 10.1.3 Inconsistent Table

In many cases, we create a table with inconsistent cells, where the rows have different cells. 

For example, we create item table which includes fruit and laptop. The fruit row and laptop row each has one merged cell, while other rows have 3 cells.

|Item                          |Price     |Remark     |
|:-----------------------------|:---------|:----------|
|**Fruit**                     | 
|Big Red Apple                 |\$10.29/kg|from USA   | 
|Sweet Orange                  |\$1.99/kg |from Brazil|
|**Laptop**                    |
|IdeaPad 3 15.6"               |\$649.99  |from China | 
|HP Touch-Screen Chromebook 14"|\$1,249.59|from USA   |

Suppose we add "Best selling" cell to the fruit row in the remark column as follows:

|Item                          |Price     |Remark       |
|:-----------------------------|:---------|:------------|
|**Fruit**                     |          |Best selling |
|Big Red Apple                 |\$10.29/kg|from USA     | 
|Sweet Orange                  |\$1.99/kg |from Brazil  |
|**Laptop**                    |
|IdeaPad 3 15.6"               |\$649.99  |from China   | 
|HP Touch-Screen Chromebook 14"|\$1,249.59|from USA     |

### 10.1.4 Align Table
We can make text alignment in the tables created with standard Markdown syntax,but we cannot align the whole table to left or right. 

We do it using HTML.

In [2]:
%%html
<style>
table {float:center}
</style>

## 10.2. HTML Tables

We cannot make advanced style formation using Markdown syntax, such as the table alignment, text style, table border line, etc. But A table generated in HTML can be easily to achieve these advanced formation features.

### 10.2.1. Defaut HTML Table
An HTML table is created by combination of the table tags, table column heading tags and table row tags.

- `<table> </table>`: HTML table starts with the `<table>` table tag and ends with `</table>` tag 
- `<tr> </tr>`: Each table row starts with the `<tr>` tags and ends with `</tr>` tag 
- `<th> </th>`: Each column heading are enclosed between these `th` (i.e. **t**able **h**eading) tags
- `<td> </td>`: Each column data (text or value) within a row is enclosed in these `td` (i.e. **t**able **d**ata) tags

Let's create simple laptop table with three rows and three columns for instance.

<table>
    <tr>
        <th>Laptop</th>
        <th>Origin</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Lenovo IdeaPad 3 15.6"</td>
        <td>China</td>
        <td>&dollar;649.99</td>
    </tr>
    <tr>
        <td>Apple MacBook Pro (2020)13.3"</td>
        <td>USA</td>
        <td>&dollar;1,249.59</td>
    </tr>
    <tr>
        <td>HP Touch-Screen Chromebook 14"</td>
        <td>USA</td>
        <td>&dollar;339.99 </td>
    </tr>
</table>

`&dollar;` is to display the `$` sign in HTML

### 10.2.2.  Table Alignment

- Put `style='float:left;` in the `<table>` tag to align the table to left, or change to the 'left' to 'right' to make the table right-alignment.
- Put `style='text-align: left;'` to the heading `<th>` tag or data `<td>` tag of a cell to make the text of the cell left alignment, and change the 'left' to 'center' to make text in the cell center-aligned.

<table style='float:left;'>
    <tr>
        <th style='text-align: left;'>Laptop</th>
        <th style='text-align: left;'>Origin</th>
        <th style='text-align: left;'>Price</th>
    </tr>
    <tr>
        <td style='text-align: left;'>Lenovo IdeaPad 3 15.6"</td>
        <td style='text-align: left;'>China</td>
        <td style='text-align: left;'>&dollar;649.99</td>
    </tr>
    <tr>
        <td style='text-align: left;'>Apple MacBook Pro (2020)13.3"</td>
        <td style='text-align: left;'>USA</td>
        <td style='text-align: left;'>&dollar;1,249.59</td>
    </tr>
    <tr>
        <td style='text-align: left;'>HP Touch-Screen Chromebook 14"</td>
        <td style='text-align: left;'>USA</td>
        <td style='text-align: left;'>&dollar;339.99 </td>
    </tr>
</table>

### 10.2.3 Table Colors

- change background color of a row by adding `style='background-color:colorname/code;'` inside that row <tr> tag
- change the text color in a cell by adding `style= 'color:blue;'` in a heading `<th>` tag or data `<td>` tag

<table style='float:left;'>
    <tr style='background-color:lightgreen;'>
        <th style='text-align: left;'>Laptop</th>
        <th style='text-align: left;'>Origin</th>
        <th style='text-align: left;'>Price</th>
    </tr>
    <tr>
        <td style='text-align: left;'>Lenovo IdeaPad 3 15.6"</td>
        <td style='text-align: left;'>China</td>
        <td style='text-align: left;'>&dollar;649.99</td>
    </tr>
    <tr>
        <td style='text-align: left;'>Apple MacBook Pro (2020)13.3"</td>
        <td style='text-align: left;'>USA</td>
        <td style='text-align: left;'>&dollar;1,249.59</td>
    </tr>
    <tr>
        <td style='text-align: left;'>HP Touch-Screen Chromebook 14"</td>
        <td style='text-align: left;'>USA</td>
        <td style='text-align: left; color:blue;'>&dollar;339.99 </td>
    </tr>
</table>

### 10.2.4. Table Border
- adding `style='border: numberpx linetype color;'` into the `<table>` tag
    - change the defaut border into different colors, and 
    - change line types and width

In the following example, we add a solid black border with 1px width.

<table style="border:3px double black;">
    <tr>
        <th>Header 1</th>
        <th>Header 2</th>
    </tr>
    <tr>
        <td>Data cell 1</td>
        <td>Data cell 2</td>
    </tr>
    <tr>
        <td>Data cell 3</td>
        <td>Data cell 4</td>
    </tr>
</table>

**Border Line Types**:
- none: default value,means no border
- solid: a solid border
- dashed: a dashed borde
- dotted: a dotted border
- double: a double border
- groove: a 3D grooved border
- ridgeï¼ša 3D ridged border
- inset: a 3D inset border
- outset: a 3D outset border

Learn more about table border set, please refer to [Table Border]( https://www.html.am/html-codes/tables/table-border.cfm) and [CSS border-style Property](https://www.w3schools.com/cssref/pr_border-style.asp).

We can also change the border of one row or one cell by including **style** attribute into the row tags `<tr>` or data tags `<td>`.

<table>
  <tr style='border: 1px solid orange;'>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td >January</td>
    <td>&dollar;100</td>
  </tr >
  <tr>
    <td>February</td>
    <td style='border: 1px solid orange;'>&dollar;80</td>
  </tr>
</table>

## 10.3 %HTML magic
- %HTML
- %html
- run HTML in code cell

In [3]:
%%HTML
<h1>This is header 1</h1>

In [4]:
%%html
<table>
    <tr>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
    </tr>
    <tr>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 3</td>
    </tr>

    <tr>
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
        <td>row 2, cell 3</td>
    </tr>
    <tr>
        <td>row 3, cell 1</td>
        <td>row 3, cell 2</td>
        <td>row 3, cell 3</td>
    </tr>
</table>

## 10.4 IPython HTML Function
- run html in code cell

In [5]:
from IPython.core.display import HTML
HTML('<h1>This is a header 1</h1>')

In [6]:
from IPython.display import HTML

table = """
<table>
    <tr>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
    </tr>
    <tr>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 3</td>
    </tr>
    <tr>
        <td>row 2, cell 1</td>
    <td>row 2, cell 2</td>
    <td>row 2, cell 3</td>
    </tr>
    <tr>
        <td>row 3, cell 1</td>
        <td>row 3, cell 2</td>
        <td>row 3, cell 3</td>
    </tr>
</table>
"""

In [7]:
HTML(table)